.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.register-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    background: rgba(4, 6, 20, 0.85);
    color: #fff;

    h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: 600;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 0.5px solid rgba(255, 255, 255, 0.203);
            background-color: transparent;
            border-radius: 5px;
            font-size: 16px;
            color: #fff;
        }
    }

    .register-link {
        display: block;
        margin-bottom: 15px;
        font-size: 14px;
        color: #fff;

        a {
            color: red;
            text-decoration: underline;
        }
    }

    .submit-button {
        width: 100%;
        padding: 10px;
        background-color: red;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darkred;
        }
    }
}